<html>
<header>

    <h1 class="MemoTitle" style="text-align: center;">{{this.MemoTitle}}</h1>
    <hr />
    <p>&nbsp;</p>
</header>
<main>
    <p class="MemoContent" style="text-align: center;">&nbsp;</p>
    <p class="MemoContent" style="text-align: center;">&nbsp;</p>
    <p class="MemoContent" style="text-align: center;">&nbsp;</p>
    <p class="MemoContent" style="text-align: center;">&nbsp;</p>
    <p class="MemoContent" style="text-align: center;">{{this.content}}</p>
    <p class="MemoAuthor" style="text-align: right;"><em>{{this.author}}</em></p>
    <p class="MemoAuthor" style="text-align: right;">&nbsp;</p>
    <p class="MemoAuthor" style="text-align: right;">&nbsp;</p>
    <p class="MemoAuthor" style="text-align: right;">&nbsp;</p>
    <p class="MemoAuthor" style="text-align: right;">&nbsp;</p>
    <p class="MemoAuthor" style="text-align: right;">&nbsp;</p>
    <p class="MemoAuthor" style="text-align: right;">&nbsp;</p>
    <p class="MemoAuthor" style="text-align: right;">&nbsp;</p>
    <p class="MemoAuthor" style="text-align: right;">&nbsp;</p>
</main>
<div>
    <footer>
        <p class="MemoId" style="text-align: left;">{{this.MemoId}} - {{this.Date}}</p>
        <p class="MemoDate">&nbsp;</p>
    </footer>
</div>

</html>